<section class="whiteDivSection light-section">
    <div class="container content-box-wrapper">
        <div class="row">
            <div class="col-sm-12 nav-tabs col-md-12 col-lg-12 mt-5 mb-5 d-flex justify-content-center flex-wrap" id="nav-tab" role="tablist">
                <a href="#" class="tab-anch active" id="all-blogs-tab" data-bs-toggle="tab" data-bs-target="#all-blogs" type="button" role="tab" aria-controls="all-blogs" aria-selected="true">
                    Tab 1
                </a>
                <a href="#" class="tab-anch" id="healthcare-tab" data-bs-toggle="tab" data-bs-target="#healthcare" type="button" role="tab" aria-controls="healthcare" aria-selected="false">
                    Tab 2
                </a>
                <a href="#" class="tab-anch" id="claims-tab" data-bs-toggle="tab" data-bs-target="#claims" type="button" role="tab" aria-controls="claims" aria-selected="false">
                    Tab 3
                </a>
                <a href="#" class="tab-anch" id="appeals-tab" data-bs-toggle="tab" data-bs-target="#appeals" type="button" role="tab" aria-controls="appeals" aria-selected="false">
                    Tab 4
                </a>
                <a href="#" class="tab-anch" id="redeterminations-tab" data-bs-toggle="tab" data-bs-target="#redeterminations" type="button" role="tab" aria-controls="redeterminations" aria-selected="false">
                    Tab 5
                </a>
            </div>
        </div>
    </div>
</section>