<article class="row contents-box">
    <div class="container">
        <h2> This is the Heading element - The web pages on the site.</h2>

        <h3> This is also an Heading element </h3>
        <p>The content block contains the posts and pages of your blog, i.e. the "meat" of your site.</p>
    </div>
</article> 