<section class="banner-section">
    <div class="row p-0">
        <img src="{{'/assets/images/what-is-pch-banner.jpg' | url }}" class="bannerImg" alt="what is pch banner"/>
        <div class="container banner-container">
            <div class="banner-content single-line-content">
                <div id="app">
                    <div class="title">
                        <div class="title-inner">
                            <div class="cafe">
                                <h1 class="cafe-inner">
                                    Page Title - Heading 1
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="knowMoreSection d-none" href="/pages/about/what-is-pch/">
                    <button type="button" class="arrow-btn white">
                        <span class="arrow-section-A">
                            <span class="arrow-A">
                                <span class="line"></span>
                                <span class="next1 next2"></span>
                            </span>
                            <span class="circle"></span>
                        </span>
                        <span class="text-section">
                            Know more
                        </span>
                    </button>
                </a>

            </div>
        </div>
    </div>
    {% include "common/banner/banner-stages-component.njk" %}
</section>