<div class="counter-row  d-flex align-items-center position-absolute bottom-0  start-0 m-0 row main-counter-row  animate__animated animate__fadeInUp animate__delay-1s carousel slide" id="carouselExampleControls" data-bs-ride="carousel">
    <div class="container carousel-inner d-flex align-items-center p-md-2 p-lg-0 position-relative w-100 overflow-hidden">
        <div class="carousel-item active">
            <div class="row m-0">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">100K</span>
                    <span class="number-details d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Registered
                        <br/>
                        Users</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">193M+</span>
                    <span class="number-details d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Lives
                        <br/>
                        Supported
                    </span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">864B+</span>
                    <span class="number-details align-items-center  d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Billed Claim Value
                        <br/>
                        Processed (Annually)
                    </span>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row m-0">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">5/5</span>
                    <span class="number-details align-items-center  d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Top US
                        <br/>
                        healthcare payers</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">4K</span>
                    <span class="number-details align-items-center  d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Registered RCM
                        <br/>
                        Companies</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">400+</span>
                    <span class="number-details align-items-center  d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Plans Served</span>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row m-0">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">15.7 M</span>
                    <span class="number-details align-items-center  d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Charts
                        <br/>
                        Coded (Annually)</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">$4B+</span>
                    <span class="number-details align-items-center  d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Under Payment
                        <br/>
                        Identified</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="number-count">50K+</span>
                    <span class="number-details align-items-center  d-xl-flex align-middle  fw-light float-start text-white ms-lg-3 mt-2">Medical Lockboxes</span>
                </div>
            </div>
        </div>
    </div>

</div>