<section class="whiteDivSection light-section">
    <div class="container award-section-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center section-box-title mt-5 pb-5" title=" Card title"> Card title</h2>
            </div>
        </div>
        <div class="container p-0">
            <div class="row awards-wrapper-main">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 d-flex">
                    <div class="inner-box-main">
                        <h3 class="box-header text-white text-center">Leader</h3>
                        <div class="box-logo text-center">
                            <img src="{{ '/assets/images/logo-blue.svg' | url }}" alt="Leader" title="Leader" class="py-4"/>
                            <h3 style="min-height:auto;">
                                Card Sub Title
                            </h3>

                            <p style="min-height:auto;">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>

                            <a href="#">
                                Action link
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>