---
meta:
  lang: en
  title: Healthcare Claims Processing | Claims Processing System | PCH Global
  image: ""
  description: PCH Global is a unified platform for digital submission and tracking of your healthcare claims, attachments, and other paper documents.
layout: base_inner
eleventyNavigation:
  key: GDPR privacy notice
  hideInMainNav: true
---
<section class="banner-section">
    <div>
        <img src="{{'/assets/images/payerlist-banner.jpg' | url }}" class="bannerImg" alt="blogs banner"/>
        <div class="container banner-container">
            <div class="banner-content">
                <h1 class="banner-header">
                    <span class="header-content">
                        <span class="main-title"> 
                            <span>We’re enabling</span>
                        </span>
                        <span class="sub-title">
                            <span class="d-block">a better, more efficient</span> 
                            <span>healthcare system</span>
                        </span>
                    </span>
                </h1>
            </div>
        </div>
    </div>
    {% include "common/banner/banner-stages-component.njk" %}
</section>
<section class="dark-section dark-blue-bg row">
    <div class="row global-box-wrapper position-relative overflow-hidden">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="global-box-content d-flex justify-content-between align-items-center ">
                    <h2 class="global-box-title"
                        title="California Supplemental Privacy
                                Statement">California Supplemental Privacy
                                Statement</h2>
                </div>
            </div>
        </div>
        <div class="right-elipse-img"></div>
    </div>
</section>
<section class="light-section mt-5 mb-5" id="whiteDivSection">
    <div class="row pch-global-box payerList-global-box">
        <div class="container"> 
            <p><a href="/pages/privacy/" class="cerulean-text">Please click here for Exela Technologies, Inc.’s Privacy
                    Policy</a></p>
            <p>The following supplements the information contained in the Company’s Privacy Policy and only
                applies to individuals who reside in California (“individuals” or “you”). The purpose of this
                notice is to provide individuals with a description of the Company’s online and offline
                practices regarding the collection, use, disclosure and sale of personal information and their
                rights regarding their personal information. The terms used in this notice have the meanings
                given to them in the California Consumer Privacy Act of 2018 which may be broader than their
                common meaning.</p>

            <p><strong>Know and Delete your Personal Information</strong></p>

            <ul>
                <li>In addition to the rights granted under our Privacy Policy, as a California resident, you
                    have the right to know what personal information the Company has collected about you over
                    the past 12 months and request the deletion of such personal information.</li>
                <li>The Company may have collected the following categories of personal information about you:
                    first name, last name, email, phone and company name. You may request that the Company
                    disclose to you the categories and specific pieces of personal information that the Company
                    has collected about you over the past 12 months, the business or commercial purpose for
                    collecting your personal information, the categories of personal information that the
                    Company disclosed for a business purpose and the categories of third parties with whom the
                    Company has shared your personal information. You may also request the deletion of such
                    personal information.</li>
                <li>To take advantage of your disclosure and deletion rights, please submit your request via
                    email to <span><a href="mailto:info@exelatech.com">info@exelatech.com</a></span> or by
                    calling 1 844-XELATEC (1-844-935-2832).</li>
                <li>The Company will respond to a verifiable consumer request within forty-five (45) days of its
                    receipt. If more time is required (up to 90 days), you will be informed of the reason and
                    extension period in writing.</li>
            </ul>

            <p><strong>No Sale of Personal Information</strong></p>

            <ul>
                <li>The Company does not and will not sell your personal information to third parties.</li>
            </ul>

            <p><strong>Non-Discrimination</strong></p>

            <ul>
                <li>If you choose to exercise any of the above rights, the Company will not deny goods or
                    services to you or provide different quality of services.</li>
            </ul>
        </div>
    </div>
</section>