---
meta:
  lang: en
  title: Healthcare Claims Processing | Claims Processing System | PCH Global
  image: ""
  description: PCH Global is a unified platform for digital submission and tracking of your healthcare claims, attachments, and other paper documents.
layout: base_inner
eleventyNavigation:
  key: inner-page
  hideInMainNav: true
---
{% include "common/banner/banner-component.njk" %}
{% include "common/sub-heading/sub-heading-component.njk" %}
{% include "common/contents/content-component.njk" %}
{% include "common/tabs/tabs-component.njk" %}
{% include "common/cards/cards-component.njk" %}