---
meta:
  lang: en
  title: Healthcare Claims Processing | Claims Processing System | PCH Global
  image: ""
  description: PCH Global is a unified platform for digital submission and tracking of your healthcare claims, attachments, and other paper documents.
layout: base_inner
eleventyNavigation:
  key: Resources
  order: 4
---
<h2>Resources <small> The main page for Resources </small> </h2>