---
meta:
  lang: en
  title: Healthcare Claims Processing | Claims Processing System | PCH Global
  image: ""
  description: PCH Global is a unified platform for digital submission and tracking of your healthcare claims, attachments, and other paper documents.
layout: base_inner
eleventyNavigation:
  key: Case Study
  parent: Resources
  order: 4
  title: Case Study
---
<section class="banner-section">
    <div>
        <img src="{{'/assets/images/pch-event.jpg' | url }}" class="bannerImg" alt="RCM banner"/>
        <div class="container banner-container ">
            <div class="banner-content two-line-content">
              <h1 class="banner-header">
                    <span class="header-content">
                        <span class="main-title"> 
                            <span>We’re enabling</span>
                        </span>
                        <span class="sub-title">
                            <span class="d-block">a better, more efficient</span> 
                            <span>healthcare system</span>
                        </span>
                    </span>
                </h1>
            </div>
        </div>
    </div>
    {% include "common/banner/banner-stages-component.njk" %}
</section>
<section class="dark-section dark-blue-bg row">
    <div class="container overflow-hidden position-relative p-0">
        <div class="row global-box-wrapper">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="global-box-content d-flex justify-content-between align-items-center ">
                    <h2 class="global-box-title w-100 mb-1" title="Events & Webinars">Case Study</h2>
                </div>
                <div class="mt-2">
                    <p class="sub-title pb-4">Just Released</p>
                </div>
                <div class="news-disciption-box mt-2 d-flex justify-content-between">
                    <div class="news-img">
                        <img class="casestudy-news-img" src="{{'/assets/images/Event-Featured.jpg' | url }}" alt="Events/Webinars" title="Events/Webinars"/>
                    </div>
                    <div class="news-disciption-box">
                        <p class="discription-title font-weight-bold">Leveraging Exela's Payer Connection by Providers & Health Systems
                        </p>
                        <p class="content-box-discription">Challenge: The client, one of the largest multinational healthcare service providers, followed a paper-based workflow that was inefficient, cumbersome, and prone to errors and delays.
                        </p>
                        <p class="content-box-discription">Challenge: The client, one of the largest multinational healthcare service providers, followed a paper-based workflow that was inefficient, cumbersome, and prone to errors and delays.
                        </p>
                        <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                            <button type="button" class="arrow-btn white">
                                <span class="arrow-section-A">
                                    <span class="arrow-A">
                                        <span class="line"></span>
                                        <span class="next1 next2"></span>
                                    </span>
                                    <span class="circle"></span>
                                </span>
                                <span class="text-section">
                                    READ FULL CASE STUDY
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="light-section carousel-section mt-5" id="whiteDivSection">
    <div class="container content-box-wrapper">

        {# <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="content-box-title text-center" title="Blogs as per categories">CASE STUDIES
                </h2>
            </div>
        </div> #}
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide pb-4" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="blog-slider-icon active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="blog-slider-icon" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="blog-slider-icon" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog1.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog2.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog3.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog1.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog2.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog3.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog1.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog2.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">
                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4  blogItem d-flex flex-column">
                                <div class="blogImage d-flex justify-content-center">
                                    <img src="{{'/assets/images/blog3.jpg' | url}}" alt="How Does the Medical Claims Process Work in the US?" title="How Does the Medical Claims Process Work in the US?"/>
                                </div>
                                <div class="blogTitle">
                                    <h4 title="How Does the Medical Claims Process Work in the US?">
                                        How Does the Medical Claims Process Work in the US?</h4>
                                    <p>The healthcare system in America is complex and inefficient. There are various</p>
                                </div>
                                <div class="know-more-box">
                                    <a class="knowMoreSection" href="/pages/resources/casestudy-leveraging-exelas-payer/">
                                        <button type="button" class="arrow-btn blue">

                                            <span class="arrow-section-A">
                                                <span class="arrow-A">
                                                    <span class="line"></span>
                                                    <span class="next1 next2"></span>
                                                </span>
                                                <span class="circle"></span>
                                            </span>
                                            <span class="text-section">
                                                Read More
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>