<section class="footer footer-center d-flex dark-section" id="section8">
    <div class="container footer-container footer-row position-relative bottom-0 align-items-center w-100" id="footer">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 footer-link-col">
                        <h4 title="DISCOVER" class="text-white">DISCOVER</h4>
                        <ul>
                            <li>
                                <a target="_blank" href="https://www.exelatech.com/digital-now">Digital Now</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.exelatech.com/smart-office">Exela Smart Office</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.exelatech.com/innovation-centers">Innovation Centers</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://dmr.exelatech.com/">Digital Mailroom</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://ehrs.exelatech.com/">HR Solutions
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 footer-link-col">
                        <h4 title="RESOURCES" class="text-white">RESOURCES</h4>
                        <ul>
                            <li>
                                <a href="/pages/resources/news-and-announcements/">News
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.exelatech.com/case-studies">Case Studies
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.exelatech.com/whitepapers">Whitepapers
                                </a>
                            </li>
                            <li>
                                <a href="/pages/resources/events-and-webinars/">Events
                                </a>
                            </li>

                            <li>
                                <a href="/pages/resources/blogs/">Blog
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://exelashop.com/">Exela Gear
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 footer-link-col">
                        <h4 title="COMPANY" class="text-white">COMPANY</h4>
                        <ul>
                            <li>
                                <a href="/pages/about/what-is-pch/">About Us</a>
                            </li>
                            <li>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#contactUsModal" data-bs-whatever="@mdo">Contact Us</a>
                            </li>
                            <li>
                                <a href="https://www.exelatech.com/leadership-team" target="_blank">Leadership</a>
                            </li>
                            <li>
                                <a href="https://investors.exelatech.com/" target="_blank">Investors</a>
                            </li>
                            <li>
                                <a href="https://www.exelatech.com/careers" target="_blank">Careers
                                </a>
                            </li>
                            <li>
                                <a href="https://www.exelatech.com/covid-19-updates" target="_blank">COVID-19 Updates
                                </a>
                            </li>
                            <li>
                                <a href="https://www.exelatech.com/analyst-relations" target="_blank">Analyst Relations
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <ul class="site-mp-link">
                    <li>
                        <a href="#"><img src="{{ '/assets/images/instagram.png' | url }}" alt="Instagram" title="Instagram"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ '/assets/images/twitter-icon.svg' | url }}" alt="Twitter" title="Twitter"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ '/assets/images/linkedin.png' | url }}" alt="Linkedin" title="Linkedin"></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ '/assets/images/facebook-icon.svg' | url }}" class="facebookIcon" alt="Facebook" title="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ '/assets/images/youtube-icon.svg' | url }}" alt="Youtube" title="Youtube">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row paddT30 align-items-center">
            <div class="col-sm-7 col-md-7 col-lg-8">
                <p class="copy-right-text">
                    © 2023 Exela Technologies, Inc. All rights reserved
                </p>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-4">
                <ul class="site-mp-link m-0">
                    <li>
                        <a href="/pages/sitemap/">Sitemap</a>
                    </li>
                    <li>
                        <a href="/pages/privacy/">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/pages/terms/">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<a id="scrollTopBtn" class="topLink">
    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewbox="0 0 512 512">
        <polygon fill="var(--ci-primary-color, #000000)" points="390.624 150.625 256 16 121.376 150.625 144.004 173.252 240.001 77.254 240.001 495.236 272.001 495.236 272.001 77.257 367.996 173.252 390.624 150.625" class="ci-primary"/>
    </svg>
</a>