<section class="dark-section dark-blue-bg row">
    <div class="container overflow-hidden position-relative p-0">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="global-box-wrapper">
                    <h2 class="global-box-title" title="Optimizing Healthcare Collaboration and Efficiency">
                        Page Sub Title - Sub Heading 2
                    </h2>
                    <p class="text-white">
                        Paragraph 1
                    </p>
                    <p class="text-white">
                        Paragraph 2
                    </p>
                    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end global-box-link">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#talkToExpertModal" class="link d-flex justify-content-center align-items-center text-decoration-none text-white">Talk to an Expert (Action Link)</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="right-elipse-img"></div>
    </div>
</section>