<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
              <div class="modal-header border-bottom-0">
            <h3>Get Started With Your Account</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="googleSignin-box">
                <a href="#" class="googleSignin">
                    <img src="{{ '/assets/images/googleIcon.svg' | url }}" class="googleIcon" title="Sign in with Google"/>
                    Sign in with Google
                </a>
            </div>
            <div class="mandatory">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p class="d-flex justify-content-end align-items-center mandatoryInfoText">
                        <span class="redAstrics">*
                        </span>Marked fiasdasdelds are mandatory</p>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="recipient-name" placeholder="Full Name"/>
                                <span class="redAstrics inputAstrics">*
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="position-relative">
                                    <select class="form-select selectOption" aria-label="Default select example">
                                        <option selected="selected">Type of Organization</option>
                                        <option value="1">Organization One</option>
                                        <option value="2">Organization Two</option>
                                        <option value="3">Organization Three</option>
                                    </select>
                                </div>
                                <span class="redAstrics inputAstrics selectAstrics">*
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" id="message-text" placeholder="Organization Name"/>
                                <span class="redAstrics inputAstrics">*
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="border-end country-code px-4">+91</span>
                                <input class="form-control mobileNumber" id="message-text" placeholder="Mobile Number"/>
                                <span class="redAstrics inputAstrics">*
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="recipient-name" placeholder="Email ID"/>
                                <span class="redAstrics inputAstrics">*
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control selectOption" id="message-text" placeholder="Enter Password"/>
                                <span class="redAstrics inputAstrics passwordInputAstrics">*
                                </span>
                                <span class="eyeIcon"><img src="{{ '/assets/images/hiddenEyeIcon.svg' | url }}" alt="Eye" title="Eye"/>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control selectOption" id="recipient-name" placeholder="Confirm Password"/>
                                <span class="redAstrics inputAstrics passwordInputAstrics">*
                                </span>
                                <span class="eyeIcon"><img src="{{ '/assets/images/hiddenEyeIcon.svg' | url }}" alt="Eye" title="Eye"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row tandc-box">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="d-flex justify-content-end align-items-center">
                                <input type="checkbox" class="tandcCheckBox"/>
                                <p class="tandc">
                                    I accept the
                                    <a href="/pages/terms/">Terms & Conditions</a>,
                                    <a href="/pages/access-service-agreement/">Access Service agreement</a>,
                                    <a href="/pages/user-agreement/">User agreement</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group d-grid">
                                <button class="primaryBtn">Sign Up</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <p class="alreadyhaveAcc">Already have an account?
                                    <a href="https://americas.pch.global/PCHGlobal/website/Signin.aspx" target="_blank"> Login </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>