<section class="whiteDivSection position-relative min-vh-100  light-section position-relative" id="section4">
    <div class="row content-box-wrapper opacity0" id="certificationsAndAwards">
        <div class="w-md-100 bg-image-custem p-0 position-absolute top-0 end-0 w-100 vh-100 overflow-hidden">
            <img class="award-img vh-100 w-100" src="./assets/images/awards-section-img.jpg" alt="Awards" title="Awards"/>
            <img class="award-small-img  vh-100 w-100" src="./assets/images/Ipd-view-img.jpg" alt="Awards" title="Awards"/>
        </div>
        <div class="container">
            <div class="col-md-6 awards-text-col bg-white h-100  vh-35 top-0 bottom-0 start-0 position-absolute">
                <div class="d-flex flex-column vh-100 ">
                    <h2 class="gray-text" title="Certifications & Awards">
                        Certifications &amp; Awards
                    </h2>
                    <p class="p-32">
                        We're improving clinical, financial, and care outcomes so that everyone in the healthcare system can thrive...
                        <br/>
                        <a class="knowMoreSection float-end" href="/pages/about/awards/">
                            <button type="button" class="arrow-btn blue float-end w-100 m-0 p-0 border-0 bg-none">

                                <span class="arrow-section-A float-end m-0">
                                    <span class="arrow-A position-relative float-start p-0 m-0">
                                        <span class="line position-absolute w-100 start-0"></span>
                                        <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                    </span>
                                    <span class="circle d-block float-end m-0 p-0"></span>
                                </span>
                                <span class="text-section float-end m-0 w-auto">
                                    Know more
                                </span>
                            </button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>