<section class="banner-section" id="section1">
    <div class="row">
        <div class="nopadding">
            <video height="100%" width="100%" autoplay="autoplay" muted="muted" loop="loop">
                <source src="{{'/assets/images/pch_banner_video.mp4' | url }}" type="video/mp4"/>
            </video>
        </div>
        <div class="container">
            <div class="indexPage">
                <div class="banner-content">
                    <h1 class="banner-header">
                        <span class="header-content">
                            <span class="main-title"> 
                                <span>30+ Years of Commitment</span>
                            </span>
                            <span class="sub-title">
                                <span class="d-block">Driving Excellence, and Building Trust</span> 
                                <span>in the American Healthcare System
                                    <a class="knowMoreSection float-end" href="/pages/about/what-is-pch/">
                                        <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">
                                            <span class="arrow-section-A float-end m-0">
                                                <span class="arrow-A position-relative float-start p-0 m-0">
                                                    <span class="line position-absolute w-100 start-0 bg-white"></span>
                                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                                </span>
                                                    <span class="circle d-block float-end m-0 p-0"></span>
                                                </span>
                                                <span class="text-section float-end m-0 w-auto text-white">Read Reports </span>
                                        </button>
                                    </a>
                                </span>
                            </span>
                        </span>
                    </h1>
                </div>
                <h1 style="position: relative;display: none;" title="We’re enabling a better, more efficient healthcare system">
                    <span>We’re enabling
                    </span>
        
                <span>a better, more efficient
                </span>

            <span>healthcare system
            </span>
            <a class="knowMoreSection float-end animate__animated animate__fadeInUp" href="/pages/about/what-is-pch/">
                <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">

                    <span class="arrow-section-A float-end m-0">
                        <span class="arrow-A position-relative float-start p-0 m-0">
                            <span class="line position-absolute w-100 start-0 bg-white"></span>
                            <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                        </span>
                        <span class="circle d-block float-end m-0 p-0"></span>
                    </span>
                    <span class="text-section float-end m-0 w-auto text-white">
                        Know more
                    </span>
                </button>
            </a>
        </h1>
    </div>
</div>
</div>
{% include "common/banner/banner-stages-component.njk" %}
</section>