<section class="whiteDivSection light-section certifications-section-bg" id="section7">
    <div class="row ">
        <div class="container content-box-wrapper" id="blogSection">
            <div class="row">
                <div id="blogSection1" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 vh-auto vh-100  d-lg-flex justify-content-center flex-column align-items-start mb-0">
                    <h2 class="blue-text content-box-title" title="Our blogs">Our blogs</h2>
                    <p class="p-32 light-gray-text mt-0">Explore our articles to gain insight into the latest &nbsp; healthcare technology...</p>
                    <a class="knowMoreSection float-end w-100" href="/pages/resources/blogs/">
                        <button type="button" class="arrow-btn blue float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto">
                                Know more
                            </span>
                        </button>
                    </a>
                </div>
                <div id="blogSection2" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 vh-auto vh-100 d-flex justify-content-center flex-column align-items-start mb-0">
                    <h2 class="blue-text content-box-title" title="News">News</h2>
                    <p class="p-32 light-gray-text mt-0">Clinical Research as a Care Option with Clinical Trials Access Network...</p>
                    <a class="knowMoreSection float-end w-100" href="/pages/resources/news-and-announcements/">
                        <button type="button" class="arrow-btn blue float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto">
                                Know more
                            </span>
                        </button>
                    </a>
                </div>
                <div id="blogSection3" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 vh-auto vh-100 d-flex justify-content-center flex-column align-items-start mb-0">
                    <h2 class="blue-text content-box-title" title="FAQs">FAQs</h2>
                    <p class="p-32 light-gray-text mt-0">Our solutionssupport payers’ priorities across the member journey...
                    </p>
                    <a class="knowMoreSection float-end w-100" href="/pricing/#FAQ">
                        <button type="button" class="arrow-btn blue float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto">
                                Know more
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>