<section class="whiteDivSection light-section" id="section6">
    <div class="row content-box-wrapper opacity0" id="clientSection">
        <div class="container d-flex flex-column justify-content-center align-items-center vh-100 ">
            <h2 class="blue-text content-box-title text-center anim anim" title="Our Clients">
                Our Clients
            </h2>
            <p class="text-center light-gray-text p-32 anim anim">
                List of our clients with whom we made difference in Healthcare
            </p>
            <div class="text-center d-inline">
                <div class="client-img  anim" id="client-img-1">
                    <img src="./assets/images/our-client/client-1.svg" alt="Optum" title="Optum"/>
                </div>
                <div class="client-img  anim" id="client-img-2">
                    <img src="./assets/images/our-client/client-2.svg" alt="WellMed" title="WellMed"/>
                </div>
                <div class="client-img  anim" id="client-img-3">
                    <img src="./assets/images/our-client/client-3.svg" alt="Sentara" title="Sentara"/>
                </div>
                <div class="client-img  anim" id="client-img-4">
                    <img src="./assets/images/our-client/client-4.svg" alt="UMR" title="UMR"/>
                </div>
                <div class="client-img  anim" id="client-img-5">
                    <img src="./assets/images/our-client/client-5.svg" alt="Care Source" title="Care Source"/>
                </div>
            </div>
        </div>
    </div>
</section>