<section class="dark-section dark-blue-bg" id="section2">
    <div class="row min-vh-100 align-items-lg-center align-items-md-center align-items-sm-start position-relative opacity0" id="whatIsPch">
        <div class="position-relative">
            <div class="container">
                <div class="col-sm-8 col-md-7 col-lg-7 global-box-wrapper">
                    <div class="pt-25">
                        <h2 class="cerulean-text text60 " id="h2Animation" title="What is PCH Global?">What is PCH Global?</h2>
                        <p class="text-white global-box-description"> 
                            For over 30 years, PCH Global has served providers and payers in healthcare, offering. We deliver innovative solutions that help improve the healthcare journey.
                        </p>
                        <a class="knowMoreSection bg-transparent float-end cerulean-text" href="/pages/about/what-is-pch/">
                            <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">

                                <span class="arrow-section-A float-end m-0">
                                    <span class="arrow-A position-relative float-start p-0 m-0">
                                        <span class="line position-absolute w-100 start-0 bg-white"></span>
                                        <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                    </span>
                                    <span class="circle d-block float-end m-0 p-0"></span>
                                </span>
                                <span class="text-section float-end m-0 w-auto text-white">
                                    Know more
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div id="animation_container" class="">
                        <video height="100%" width="100%" autoplay="autoplay" muted="muted" loop="loop">
                            <source src="{{'/assets/images/pch-global-animation.mp4' | url }}" type="video/mp4"/>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>