<section class="payers-section" id="section5">
    <div class="row opacity0" id="pbppSection">
        <div class="payers-section-row d-md-w-100 d-sm-w-100 p-0">
            <img class="payers-bg-layer" src="{{'/assets/images/payrs-bg-layer.jpg' | url}}" alt="Payer" title="Payer"/>
            <div class="black-gradient-dev"></div>
            <div class="col-md-12 payers-title-box tab-content d-flex flex-column justify-content-center vh-100 align-items-center" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h1 class="payrs-col-tile text-start" title="Payer">
                        Payers
                    </h1>
                    <h2 class="payrs-col-description" title="Our advanced technology solutions and services help payers achieve their priorities across...">
                        Our advanced technology solutions and services help payers achieve their priorities across...
                    </h2>
                    <a class="knowMoreSection float-end" href="/pages/solutions/payers/">
                        <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0 bg-white"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto text-white">
                                Know more
                            </span>
                        </button>
                    </a>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1 class="payrs-col-tile" title="Billers">
                        Billers
                    </h1>
                    <h2 class="payrs-col-description" title="Our advanced technology solutions empower our partners to achieve their strategic business...">
                        Our advanced technology solutions empower our partners to achieve their strategic business...
                    </h2>
                    <a class="knowMoreSection float-end" href="/pages/solutions/rcm/">
                        <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0 bg-white"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto text-white">
                                Know more
                            </span>
                        </button>
                    </a>

                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h1 class="payrs-col-tile" title="Providers">
                        Providers
                    </h1>
                    <h2 class="payrs-col-description" title="Our advanced technology and services help providers enhance patient engagement and access...">
                        Our advanced technology and services help providers enhance patient engagement and access...
                    </h2>
                    <a class="knowMoreSection float-end" href="/pages/solutions/providers/">
                        <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0 bg-white"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto text-white">
                                Know more
                            </span>
                        </button>
                    </a>
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <h1 class="payrs-col-tile" title="Patients">
                        Patients
                    </h1>
                    <h2 class="payrs-col-description arrow-parent" title="We connect doctors, hospitals, and insurers with data-driven insights and innovative...,">
                        We connect doctors, hospitals, and insurers with data-driven insights and innovative...,

                    </h2>
                    <div class="d-block"></div>
                    <a class="knowMoreSection float-end" href="/pages/solutions/patient/">
                        <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0 bg-white"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto text-white">
                                Know more
                            </span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="z-index: 99;">
            <div id="v-pills-tab1" class="nav v-text-wrapper" role="tablist">
                <div class="v-text nav-link show active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" aria-selected="true" role="tab" style="">
                    <h3 title="Payers">Payers</h3>
                </div>
                <div class="v-text nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" aria-selected="false" tabindex="-1" role="tab" style="">
                    <h3 title="Billers">Billers</h3>
                </div>
                <div class="v-text nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" aria-selected="false" tabindex="-1" role="tab" style="">
                    <h3 title="Providers">Providers</h3>
                </div>
                <div class="v-text nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" aria-selected="false" tabindex="-1" role="tab" style="">
                    <h3 title="Patients">Patients</h3>
                </div>
            </div>
        </div>
        <div class="payers-bg-circle"></div>
    </div>
</section>