<section class="light-section v-100" id="section3">
    <div class="row position-relative justify-content-center align-items-center min-vh-100 overflow-hidden opacity0" id="whatWeDo">
        <div class="what-we-do-left-img zoom-in-out-box position-absolute vh-100 top-0">
            <div class="what-we-do-left-bg">
                <img src="{{'/assets/images/what-we-do-img.jpg' | url}}"/>
            </div>
        </div>
        <div class="what-we-do-img position-absolute end-0 d-flex justify-content-center align-items-center flex-column" id="whatWeDoTextDiv">
            <div class="d-flex content-box-wrapper align-items-center justify-content-center flex-column">
                <h2 class="w-100 cerulean-text content-box-title" title="What we do for You">What we do for You</h2>
                <p class="w-100 light-gray-text text-white p-32">System prompts improve claim approvals. Reduced rejections increase revenue...
                    <br/>
                    <a class="knowMoreSection float-end" href="/pages/about/how-we-help-hc/">
                        <button type="button" class="arrow-btn white float-end w-100 m-0 p-0 border-0 bg-none">

                            <span class="arrow-section-A float-end m-0">
                                <span class="arrow-A position-relative float-start p-0 m-0">
                                    <span class="line position-absolute w-100 start-0 bg-white"></span>
                                    <span class="next1 next2 position-absolute d-inline-block end-0 top-0 bg-transparent"></span>
                                </span>
                                <span class="circle d-block float-end m-0 p-0"></span>
                            </span>
                            <span class="text-section float-end m-0 w-auto text-white">
                                Know more
                            </span>
                        </button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>