---
meta:
  lang: en
  title: Healthcare Claims Processing | Claims Processing System | PCH Global
  image: ""
  description: PCH Global is a unified platform for digital submission and tracking of your healthcare claims, attachments, and other paper documents.
layout: base
eleventyNavigation:
  key: Home
  hideInMainNav: true
---

<article class="container-fluid" id="fullpage">

    {% include "home/banner-section.njk" %}

    {% include "home/global-section.njk" %}

    {% include "home/what-we-do-section.njk" %}

    {% include "home/awards-section.njk" %}

    {% include "home/payers-section.njk" %}

    {% include "home/client-section.njk" %}

    {% include "home/blog-news-faq-section.njk" %}
  
    {% include "shared/footer/footer.njk" %}
</article>
