$primary-shade: #186494;
$secondary_shade: #961169;

$primary-color: #00B4CD;
$secondary-color: #003B5C;

$text-color: #585858;
$white: #fff;
$gray: #838383;
$gray1: #899097;
$darkBlueBgPColor: #bacad3;

$black-color:#000000;

$blue-shade1:#003B5C;
$blue-shade2:#1277D9;

$full-vh: 100vh;
$full-vw: 100vw;
$full-width: 100%;

