<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site.title }} - {{ title or meta.title }}</title>
    <link rel="stylesheet" href="{{ '/dist/app.css' | url }}"/>
    <link rel="stylesheet" href="https://uidemo1.exela.global/pch/assets/css/plugins/animate.min.css"/>
    {% include "shared/header/meta.njk" %}
  </head>
  <body>
    <main id="main">
      {% include "shared/header/header.njk" %}
      {{ content | safe }}
    </main>
    <script type="text/javascript" src="{{ '/dist/app.js' | url }}"></script> 
    <script src="{{'/assets/js/common.js' | url }}"></script>
  </body>
</html>